@font-face {
  font-family: "HP Simplified";
  src: url(../assets/hp-simplified.ttf)

}

body{
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "HP Simplified", serif;
}

.custom-shape-divider-bottom-1650442264 {
  position: absolute;
  z-index: -99;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1650442264 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1650442264 .shape-fill {
  fill: #FFFFFF;
}
