<div class="container col-12 row mx-auto" *ngIf="apiResult">
  <div class="card-group col-lg-3 col-md-6 mb-3 mt-3" *ngFor="let playlist of apiResult">
    <div id="{{playlist.id}}" class="card m-2">
      <img class="card-img-top img-fluid" src="https://picsum.photos/400/500?random={{playlist.id}}'" alt="Card image cap">
      <div class="card-body card-img-overlay">
        <h5 class="card-title info fw-bold">{{playlist.name}}</h5>
        <p class="card-title text">contient {{playlist.tracks.length}} morceaux</p>
          <ul class="list-tracks" *ngFor="let track of playlist.tracks">
            <li>
              {{track.trackName}} - {{track.trackAuthor}}
            </li>
          </ul>
        <p class="rounded-pill bg-warning w-50 text-center" [class.d-none]="!playlist.random">Aléatoire</p>
      </div>
    </div>
  </div>
</div>
